* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: white;
  --hover-color: hsl(280, 88%, 54%);
  --primary-color: hsl(292, 16%, 49%);
  --bg-color: hsl(275, 100%, 97%);
  --font-family: "Work Sans";
  --card-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#background-mobile {
  width: 100%;
  height: 100%;
}

#background-desktop {
  display: none;
}

#btn, #btn2, #btn3, #btn4 {
  background-color: var(--white-color);
}

#btn:active {
  border: none;
}

#background-mobile,
#background-desktop {
  object-fit: cover;
}

main {
  background-color: var(--white-color);
  font-family: var(--font-family);
  margin-bottom: 150px;
  width: 380px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  position: relative;
  bottom: 15%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.accordion {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.accordion-body {
  font-weight: 400;
  color: var(--primary-color);
  max-width: 560px;
}

.accordion-button:focus,
.accordion-button:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.accordion-button {
  border: none;
  font-weight: 600;
}

.accordion-button:hover {
  color: var(--hover-color);
  transition: 0.3s all ease-in-out;
}

#icon {
  width: 25px;
  margin: 10px;
  margin-top: 25px;
  margin-right: 290px;
}

h1 {
  position: absolute;
  top: 19px;
  font-size: 3.5rem;
  font-weight: 700;
  padding-right: 150px;
}

h2 {
  font-size: 1.5rem;
}

.accordion-button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 50px 15px 15px; 
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer; 
}

.accordion-button:not(.collapsed) {
  background-color: var(--hover-color);
}

.accordion-button:hover {
  transform: scale(1.02);
}



@media screen and (min-width: 640px) {
  #background-mobile {
    display: none;
  }

  #background-desktop {
    display: block;
    height: 100%;
    width: 100%;
  }

  main {
    width: 45%;
    bottom: 20%;
  }

  #icon {
    align-self: self-start;
    margin-left: 30px;
    margin-top: 30px;
  }

  h1 {
    margin-right: 230px;
  }

  .accordion {
    width: 100%;
  }
}
